@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Montserrat:wght@300&family=Poppins:wght@300;500;600&display=swap");

body {
   font-family: 'Darker Grotesque', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
}

.navbar{
  position: fixed;
  top: 0px;
  width: 96%;
  z-index: 10;
  background-color: transparent;
  backdrop-filter: blur(5px);
  /* height: 70px; */
}

.nav-link{
  font-size: 18px;
  cursor: pointer;
  border: 3px solid transparent;
  /* padding: 20px; */
}

.nav-link:hover{
  /* border-bottom: 3px solid rgb(205, 200, 200); */
  color: #f96f0e;
  border-bottom: 3px solid #f96f0e;

}

.nav-link.active {
  color: #f96f0e;
}

.active-button {
  color: #f96f0e;
}

.heroTitle {
  margin-top: 40px;
}

.helloImg {
  width: 60px;
  height: 50px;
}

.form-control::placeholder, .form-control[type="text"],.form-control[type="number"],.form-control[type="email"],.form-control[type="textarea"]{
  color: #FA8D15;
}





.themeColor {
  color: #FA8D15;
}

.themeBg {
  /* background-color: #6366F1; */
  background: linear-gradient(to left, #faab1b, #f96f0e);
}

.grayBg{
  background-color: rgba(240, 248, 255, 0.66);
}


.form{
  display: grid;
  place-items: center;
}


.btn {
  background: linear-gradient(to left, #faab1b, #f96f0e);
  color: white;
  border: 1px solid transparent;
  /* border-radius: 0; */
}

.btn:hover {
  color: #fa8d15;
  background: white;
  border: 1px solid #fa8d15;
}

.posterImg {
  height: 400px;
  width: 300px;
}

.backgroundIMG{
  background-image: url("./Image/graph.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutCard{
  width: 300px;
  margin-top: 40px;
  transition: transform 0.1s;
}

.aboutCard:hover{
  transform: scale(1.1, 1.1) !important;
}



.aboutCard div{
margin-top: -40px !important;
width: 50px;
height: 50px;
background-color: #FA8D15;
border-radius: 50%;
display: block;
margin: auto;
}
/* svg{
  margin: 40px;
  width: 150px;
} */

.Teachskills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  padding: 0px 100px;
}

/* Button */

.button {
  position: relative;
  width: 160px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: linear-gradient(to left, #faab1b, #f96f0e);
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  /* background: linear-gradient(to left, #faab1b, #f96f0e); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  /* margin-right: 10px; */
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: linear-gradient(to left, #faab1b, #f96f0e);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background: linear-gradient(to left, #faab1b, #f96f0e);
}

/* github */

.github_Stats{
  display: grid;
  place-items: center;
  /* padding: 20px; */
  /* margin: 20px; */
}
.github_Stats img{
  width: 100%;
}
/* social */

.mainDIv {
  line-height: 1.7;
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* background:transparent ; */
  gap: 14px;
}

.wrapper .icons {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  object-position: center;
  backdrop-filter: blur(5px);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  /* overflow: hidden; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper .icons .rounded-icon {
  display: block;

  height: 60px !important;
  width: 60px !important;
  font-size: x-large !important;
  background: transparent;
  /* border-radius: 50%; */
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  padding: 14px;
}

.wrapper .icons span i {
  line-height: 60px;
  font-size: 26px;
}

.wrapper .icons .tooltip {
  position: absolute;
  /* top: 0; */
  z-index: 1;
  background: #ffffff;
  color: #ffffff;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icons:hover .tooltip {
  /* margin-right: 170px; */
  opacity: 1;
  pointer-events: auto;
}
.wrapper .icons:nth-child(1):hover .tooltip {
  margin-right: 160px;
}
.wrapper .icons:nth-child(2):hover .tooltip {
  margin-right: 110px;
}
.wrapper .icons:nth-child(3):hover .tooltip {
  margin-right: 170px;
}
.wrapper .icons:nth-child(4):hover .tooltip {
  margin-right: 130px;
}

.wrapper .icons:hover span {
  color: #ffffff;
}

.wrapper .icons:hover span,
.wrapper .icons:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

/* .wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip {
  background: blue;
} */

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip {
  /* background: #e1306c; */
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip {
  background: #46c1f6;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip {
  background: #cd201f;
}

/* circle */



@media only screen and (max-width: 1000px) {
  .Teachskills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 30px;
  }
  .card__content{
padding: 20px 50px;
  }

  .github_Stats img{
    width: 90%;
  }
}
@media only screen and (max-width: 680px) {
  .Teachskills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 10px;
  }
  .github_Stats img{
    width: 80%;
  }
  .projects .project {
    width: 85%;
  }
  .wrapper {
    flex-direction: row;
    height: auto;

  }
  .wrapper .icons:nth-child(1):hover .tooltip {
    margin-right: 0;
    top: -60px;
  }
  .wrapper .icons:nth-child(2):hover .tooltip {
    margin-right: 0;
    top: -60px;
  }
  .wrapper .icons:nth-child(3):hover .tooltip {
    margin-right: 0;
    top: -60px;
  }
  .wrapper .icons:nth-child(4):hover .tooltip {
    margin-right: 0;
    top: -60px;
  }
}











/* Project */

/* .blog-card */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  /* background: #fff; */
  background: transparent;
  /* border: 1px solid white; */
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #fa8d15;
}

.blog-card:hover .photo {
  transform: scale(0.9);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  display: grid;
  place-items: center;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .description {
  padding: 1rem;
  /* background: #fff; */
  background: transparent;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #fa8d15;
  display: inline-block;
  position: relative;
  padding: 3px;
  /* font-size: large; */
}

/* .blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
} */

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #fa8d15;
  width: 200px;
  top: -0.75rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    /* background: #fff; */
    background: transparent;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}